<footer class="footer">
  <small>
    RoR educational project-<a href="https://github.com/IvanKOS7/rails-basic/tree/main/test-guru" target="blank">Test Guru </a>
    by <a href="https://github.com/IvanKOS7" target="blank">Ivan K</a>
  </small>
  <nav>
    <ul>
      <%= github_url("IvanKOS7", "ruby-basics") %>
      <li><%= link_to "Thinknetica school", 'https://thinknetica.com', target: "_blank"%></li>
      <li><%= current_year %></li>
    </ul>
  </nav>
</footer>
