<footer class="footer">
  <small>
    RoR educational project-<a href="https://github.com/IvanKOS7/rails-basic/tree/main/test-guru">Test Guru </a>
    by <a href="https://github.com/IvanKOS7">Ivan K</a>
  </small>
  <nav>
    <ul>
      <%= github_url("IvanKOS7", "ruby-basics") %>
      <li><%= link_to "Thinknetica school", 'https://thinknetica.com' %></li>
      <li><%= current_year %></li>
    </ul>
  </nav>
</footer>
