<div class="container mt-2">
	<table class="table table-primary">
	  <thead>
			<tr>
	    <td>Gist Url</td>
	    <td> <%= t('.question') %></td>
	    <td> <%= t('.user_email') %></td>
	   		</tr>
	  </thead>
			 <%= render @gists %>
	</table>
</div>
