<footer class="fixed-bottom">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav me-2">
      <li class="navbar-text"> RoR educational project-<a href="https://github.com/IvanKOS7/rails-basic/tree/main/test-guru" target="blank">Test Guru </a></li>
    </ul>
    <ul class="nav navbar-nav ms-auto me-2">
      <li class="navbar-text me-2"><%= github_url("IvanKOS7", "ruby-basics") %></li>
      <li class="navbar-text me-2"><%= link_to "Thinknetica school", 'https://thinknetica.com', target: "_blank"%></li>
      <li class="navbar-text"><%= current_year %></li>
    </ul>
  </div>
  </nav>
</footer>
