<h2>Show question</h2>
<table>

  <tr>
    <th>Question</th>
    <th>Actions</th>

  </tr>
<%= render @question %>
</table>
<h2>Answers</h2>
<ol>
  <%= render @question.answers %>
</ol>
<td><%= link_to 'Back', admin_test_path(@question.test) %></td>
