<h1>Test questions</h1>
<table>
  <tr>
    <th>Questions<th>
    <th>Action<th>
  </tr>
<%= render 'shared/test_questions', resource: @test_questions %>
</table>
<p><%= link_to 'Back', tests_path %></p>
