<div class="topnav">
  <p>TestGuru</p>
  <a class="active" href="/tests">Home</a>
  <a href="/signup" class="active"</a>SignUp</a></a>
  <a href="/login" class= "active">Login</a>
  <a class="nav user">
    <% if logged_in? %>
    <p class="nav user">Welcome, <b> <%= current_user.email %></b></p>
    <%= link_to 'Exit', sessions_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "active" %>
  <% end %> </a>
</div>
